.breadcrum{
    display: flex;
    align-items: center;
    gap: 5px;
}
.breadcrum img{
    width: 7px;
}
@media(max-width:600px){
    .breadcrum{
        margin-top: 110px;
        font-size: 9px;
    }
   
    
}
@media(min-width:601px) and (max-width:750px){
    .breadcrum{
        font-size: 13px;
    }

}