.newletters{
    margin: 100px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 20px 5%;
    line-height: 50px;
    background-color: rgba(137, 43, 226, 0.137);

}
.newletters .newsletters_login{
    width: 70%;
    background-color: #fff;
    display: flex;
    border-radius: 30px;
    
 
}
.newletters .newsletters_login input{
    border-radius: 40px;
    border: none;
    width: 80%;
    height: 50px;
    padding: 10px;
}
.newletters .newsletters_login button{
    width: 20%;
    border-radius: 30px;
    background-color: black;
    border: none;
    color: #fff;
}
@media(min-width:600px) and (max-width:800px){
    .newletters h1{
        font-size: 20px;
    }

}
@media(max-width:650px){
    .newletters h1{
        font-size: 15px;
    }
    .newletters .newsletters_login{
        width: 100%;
    }
    .newletters p{
        font-size: 13px;
    }
    .newletters .newsletters_login button{
        font-size: 11px;
    }

}

