.item{
    width: 100%; 
}
.item img{
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}
.item img:hover{
    transform: scale(1.1);
    transition: .8s;
}
.item p{
    margin-bottom: 10px;
    font-weight: bold;
}
.old{
    text-decoration: line-through;
    color: gray;
}