.offers{
  margin:100px auto;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(137, 43, 226, 0.137);
   width: 90%;
   height: 60vh;
}
.offers .offers_left{
    flex: 1;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.offers .offers_left button{
    padding: 10px 10px;
    width: 150px;
    background-color: red;
    border: none;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}
.offers .offers_right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.offers .offers_right img{
    width: 50%;
}
@media(max-width:800px){
    .offers .offers_left h1{
        font-size: 15px;
    }
    .offers .offers_left{
        flex: 1;
        line-height: 30px;
    }
    .offers .offers_left button{
        width: 120px;
        margin-top: 20px;
    }

}
